.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/
background: white;
}

/* ######### Default class for drop down menus ######### */

.anylinkmenu{
position: absolute;
left: 0;
top: 0;
margin-top: 9px;
margin-left: -5px;
visibility: hidden;
border: 1px solid black;
border-bottom-width: 0;
font: normal 18px Ostrich Sans Rounded;
line-height: 20px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
background: white;
width: 180px; /* default width for menu */
}

.anylinkmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkmenu ul li a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 2px 0;
text-decoration: none;
text-indent: 5px;
}

.anylinkmenu a:hover{ /*hover background color*/
background: #ffcc00;
color: black;
font-weight: bold;
font-family:Ostrich Sans Rounded;
}

/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkmenucols{
position: absolute;
width: 300px;
left: 0;
top: 0;
visibility: hidden;
border: 1px solid black;
padding: 10px;
font: normal 20px Ostrich Sans Rounded;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #000000;
}

.anylinkmenucols li{
padding-bottom: 3px;
}

.anylinkmenucols .column{
float: left;
padding: 3px 8px;
margin-right: 5px;
background: #000000;
}

.anylinkmenucols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}


